.shadow_nav {
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
.Navbar_main {
  height: 122px;
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
}

.links_nav_main {
  display: flex;
  gap: 1.5rem;
}

.logo_nav_main {
  height: 100px;
  width: 100px;
}
.logo_nav {
  object-fit: cover;
  height: 107%;
  width: 100%;
}

/*  */

.side_icon {
  display: none;
  width: 45px;
  height: 30px;
  /* border: none; */
  color: var(--color-brown);
  cursor: pointer;
  transition: all 5s ease-in;
}
.sidebar_base_wrapp {
  display: none;
}

@media screen and (max-width: 500px) {
  .sidebar_main_wrapp {
    width: 100%;
    padding: 3% 0 0 0;
    margin-top: 1%;
    position: fixed;
    top: 60px;
    z-index: 99;
  }

  .sidebar_base_wrapp {
    display: block;
    padding: 4%;
    border: 1px solid var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 30px;
    background-color: var(--color-white);
    border-top: 2px solid;
    transition: all 0.5s ease-in;
    height: 100vh;
  }
  .links_nav_main {
    display: none;
  }

  .side_icon {
    display: block;
    margin-right: 15px;
  }
}

.links_nav_main_wrapp {
  display: flex;
  gap: 2rem;
  font-size: 20px;
  flex-direction: column;
}
